name: Build Test and Deploy

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_setup_and_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout     
      uses: actions/checkout@v4

    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'

    - name: Install dependencies
      run: npm install

    - name: Install Playwright browsers
      run: npx playwright install

    - name: Start backend server
      run: cd server && node server.js &
      shell: bash

    - name: Start frontend server
      run: npm start &
      shell: bash

    - name: Run tests
      run: npm test

    - name: Upload test results
      uses: actions/upload-artifact@v4
      with:
        name: Test Results
        path: test-results/
        retention-days: 7
  deploy_backend:
    needs: build_setup_and_test
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to Render
      uses: JorgeLNJunior/render-deploy@v1.4.7
      with:
        service_id: ${{ secrets.RENDER_BACKEND_ID }}
        api_key: ${{ secrets.RENDER_API_KEY }}
        wait_deploy: true
  deploy_frontend:
    needs: build_setup_and_test
    runs-on: ubuntu-latest
    steps:
    - name: Deploy to Render
      uses: JorgeLNJunior/render-deploy@v1.4.7
      with:
        service_id: ${{ secrets.RENDER_FRONTEND_ID }}
        api_key: ${{ secrets.RENDER_API_KEY }}
        wait_deploy: true